# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-10.15
    env:
      VLC_PATH: /usr/local/bin
      VLC_FORCE_KERNELVERSION: 18
      VLC_SDK_PATH: /Applications/Xcode_10.3.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk
      HOST_ARCH: x86_64
      SHORTARCH: intel64
      TRIPLET: $HOST_ARCH-apple-darwin$VLC_FORCE_KERNELVERSION
      VLC_PREBUILT_CONTRIBS_URL: "https://artifacts.videolan.org/vlc-3.0/macos-x86_64/vlc-contrib-x86_64-apple-darwin18-97612c39e1c89e1d5b15fe090de9170c3b4e7b4f.tar.bz2"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          ref: '3.0.17.3.x'

      # Runs a single command using the runners shell
      - name: make build dir
        run: mkdir build && ls -l /usr/local/bin && lz4 --version && echo $TRIPLET

      - name: display clang
        run: xcrun --find clang && xcrun --find clang++ && clang --version && clang++ --version
        
#       - name: build vlc
#         run: cd build && pwd && export VLC_PREBUILT_CONTRIBS_URL="https://artifacts.videolan.org/vlc-3.0/macos-x86_64/vlc-contrib-x86_64-apple-darwin18-97612c39e1c89e1d5b15fe090de9170c3b4e7b4f.tar.bz2" && sudo ../extras/package/macosx/build.sh -i n -a x86_64 
      
      # Runs a set of commands using the runners shell
#       - name: build script
#         run: |
#           echo Add other actions to build,
#           echo test, and deploy your project.

